MONGODB_URI=mongodb+srv://heinrichsorbaf02_db_user:cXb4y3KUjMYNGpUL@camrent.njiohdj.mongodb.net/camrent?retryWrites=true&w=majority&appName=camRent
JWT_SECRET=change-s02NJ6Mw6uQ3Y5MXci5v6GAvrMaZqY+Ykb4DZ80bIDo=
CLOUDINARY_CLOUD_NAME=camRent
CLOUDINARY_API_KEY=282853754461373
CLOUDINARY_API_SECRET=1RJJ0tR43AGYWRv8OyPWguqHQjs
